
normalize-css()

*,
*::before,
*::after
  box-sizing border-box

html,
body
  font-size 1rem

.images
  width 800px
  padding 0px
  margin 0px
  float left
  
#carousel 
  overflow auto
  margin 0px
  width 10000px

#container
  width 800px
  overflow hidden
  // border 2px solid #000